@model DataTransfer.RegisterDTO

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">@ViewData["ErrorMessage"]</div>
}
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">@ViewData["SuccessMessage"]</div>
}

<style>
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        width: 50%;
        padding: 20px;
        /* border: 1px solid gray; */
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px black;
    }
</style>
<div class="container-fluid">
    <div class="wrapper">
        <form method="post">
            <h1 class="text-center">Register account</h1>
            <div class="input-group">
                @Html.Raw("<span class=\"input-group-text\" id=\"basic-addon1\">@</span>")
                <input type="text"
                       class="form-control"
                       placeholder="Username"
                       asp-for="Username"/>
            </div>
            <div class="form-text mb-3">
                Example help text goes outside the input group.
            </div>


            <div class="mb-3">
                <label for="password" class="form-label">Your password</label>
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input type="password"
                           class="form-control"
                           asp-for="Password" />
                </div>
                <div class="form-text mb-2">
                    Password must have at least 8 characters
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-text">Password</span>
                <input type="password"
                       class="form-control"
                       asp-for="ConfirmPassword"
                       />
            </div>

            <div class="buttons mt-3">
                <button class="btn btn-outline-dark">Register</button>
            </div>
            
        </form>
    </div>
</div>
